<nav class="navbar is-fixed-top" style="box-shadow: 1px -4px 18px #ccc;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h2>Template</h2>
        </a>
        <div class="navbar-burger burger" data-target="nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="nav" class="navbar-menu">
        <div class="navbar-start">
            {% if is_granted('ROLE_USER') %}
            <a class="navbar-item" href='/profile'>
                Profile
            </a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                {% if is_granted('ROLE_USER') %}
                    <div class="navbar-item">{{ app.user.username }}</div>

                    <div class="navbar-item">
                        <a class="button is-danger" href="{{ path('logout') }}">Exit</a>
                    </div>

                {% else %}
                    <div class="field is-grouped navbar-item">
                        <div class="control">
                            <a class="button is-info" href="{{ path('sign-up') }}">Sign up</a>
                            <a class="button is-primary" href="{{ path('login') }}">Sign in</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
