{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            {% include 'components/common/card.html.twig' with { 'title': 'Hello!', 'text': app.user.username} only %}
        </div>
    </div>
</div>
{% endblock body %}
